In [1]:
!pip install pyspark

from pyspark.sql import SparkSession

Requirement already satisfied: pyspark in c:\users\tk\anaconda3\lib\site-packages (3.0.1)
Requirement already satisfied: py4j==0.10.9 in c:\users\tk\anaconda3\lib\site-packages (from pyspark) (0.10.9)

In [2]:
spark = SparkSession.builder\
        .master("local[*]")\
        .appName('PySpark_Tutorial')\
        .getOrCreate()

In [69]:
csv_file = 'iris.csv'
df = spark.read.csv(csv_file)

In [4]:
df.head(5)

[Row(_c0='"sepal.length,""sepal.width""', _c1='""petal.length""', _c2='""petal.width""', _c3='""variety"""'),
 Row(_c0='"5.1,3.5,1.4,.2,""Setosa"""', _c1=None, _c2=None, _c3=None),
 Row(_c0='"4.9,3,1.4,.2,""Setosa"""', _c1=None, _c2=None, _c3=None),
 Row(_c0='"4.7,3.2,1.3,.2,""Setosa"""', _c1=None, _c2=None, _c3=None),
 Row(_c0='"4.6,3.1,1.5,.2,""Setosa"""', _c1=None, _c2=None, _c3=None)]

In [61]:
df.columns
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [135]:
df.groupBy('_c4').max('_c1')

AnalysisException: "_c1" is not a numeric column. Aggregation function can only be applied on a numeric column.;

In [134]:
import pyspark.sql.functions

In [136]:
from pyspark.ml.feature import StringIndexer

In [138]:
converter = IndexToString(inputCol="ind_sepal.length", outputCol="sepal.length")
converted = converter.transform(indexedData)
converted.select("id", "indexed", "originalCategory").show()

NameError: name 'IndexToString' is not defined