In [13]:
import pandas as pd

In [22]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [23]:
from pyspark.context import SparkContext

In [24]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

In [25]:
pip install spark-nlp

Requirement already satisfied: spark-nlp in /usr/local/lib/python3.7/dist-packages (3.3.4)

In [28]:
pip install findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.7/dist-packages (1.4.2)

In [29]:
import findspark

In [30]:
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

ValueError: ignored

In [31]:
df = spark.read.csv(("iris.csv"), header='true', sep=",")

In [32]:
df.show(5)

+------------+-----------+------------+-----------+-------+
|sepal.length|sepal.width|petal.length|petal.width|variety|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|         .2| Setosa|
|         4.9|          3|         1.4|         .2| Setosa|
|         4.7|        3.2|         1.3|         .2| Setosa|
|         4.6|        3.1|         1.5|         .2| Setosa|
|           5|        3.6|         1.4|         .2| Setosa|
+------------+-----------+------------+-----------+-------+
only showing top 5 rows

In [33]:
df.columns

['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety']

In [34]:
!curl -O https://raw.githubusercontent.com/deepjavalibrary/d2l-java/master/tools/colab_build.sh && bash colab_build.sh

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   520  100   520    0     0   4406      0 --:--:-- --:--:-- --:--:--  4406
Update environment...
Install Java...
Install Jupyter java kernel...

In [ ]:
df.groupBy('variety').min(["sepal.length"]).show()

In [35]:
df=pd.read_csv('iris.csv')

In [ ]:
df=df.groupby('variety').min('petal.length')
df

In [ ]:
b=df.describe()
b

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
iris=datasets.load_iris()
iris.data

In [ ]:
iris.target_names

In [ ]:
x=iris.data[:,2]
y=iris.data[:,3]
species=iris.target
plt.scatter(x,y,c=species)

In [ ]:
df=pd.read_csv('iris.csv')
df

In [ ]:
df.columns

In [37]:
X, y = df[['sepal.length','sepal.width','petal.length','petal.width']], df['variety']

In [38]:
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [39]:
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [42]:
X_train.head()

     sepal.length  sepal.width  petal.length  petal.width
146           6.3          2.5           5.0          1.9
1             4.9          3.0           1.4          0.2
138           6.0          3.0           4.8          1.8
91            6.1          3.0           4.6          1.4
38            4.4          3.0           1.3          0.2

In [43]:
from sklearn.linear_model import LogisticRegression

In [44]:
model=LogisticRegression()

In [45]:
model.fit(X_train, y_train)

LogisticRegression()

In [46]:
from sklearn.metrics import accuracy_score

In [47]:
accuracy_score(y_train, model.predict(X_train))

0.9833333333333333

In [48]:
accuracy_score(y_test, model.predict(X_test))

0.8666666666666667

In [51]:
from sklearn.tree import DecisionTreeClassifier

In [54]:
model_tree= DecisionTreeClassifier()

In [55]:
model_tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [56]:
accuracy_score(y_test,model_tree.predict(X_test))

0.9